body {
    background-color: #9EB5BA;
    font-family:'Courier New', Courier, monospace;
}

h1 {
    font-size: 4em;
    text-align: center;
    color: #A39EBA;
}

.customer {
    display: flex;
    flex-flow: column wrap;
}

.questions {
    display: flex;
    flex-flow: row wrap;
}

.contact_form {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 25%;
}

p {
    font-weight: bold;
}

ul {
    list-style-type: none;
}

footer {
    display: grid;
    place-items: center;
    margin-top: 1%;
    height: 10vh;
    line-height: 1.5;
    background-color: #9EBAA3;
    border-top: 2px dashed #000;
}
